<h2>Animals</h2>

<a class="btn" href="/animal/new">Add Animal</a>

<div class="animals">
  <% @animals.each do |animal| %>
  <div class="row">
    <img class='animal' src="<%= animal.photo_url %>" alt="<%= animal.name %> photo">
    <ul>
      <li>
        <h2>
          <a href="/animals/<%= animal.id %>">
            I am a <%= animal.name %>
          </a>
        </h2>
      </li>
      <li>
        <a href="/animal/<%= animal.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form action="/animals/<%= animal.id %>/delete" method="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
